Dominion/.gradle/
Dominion/.classpath
Dominion/.project
Dominion/build/reports
Dominion/build/tmp

.recommenders/
.metadata/
EclipseWorkspace/bin/
RemoteSystemsTempFiles/
Dominion/RemoteSystemsTempFiles/

